*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:  sans-serif,"Lemon";
}
:root{
    --orange:rgb(240, 157, 81);
    --white:rgb(255, 255, 255);
    --black:rgb(34, 34, 34);
    --grey:rgb(236, 236, 236);
    --spacing: 0.1rem;
    --font: "playfair Display",sans-serif;
}
.navbar{
    position:sticky;
    top: 0;
    margin:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 226,221);
    z-index: 1;
    width: 100%;
    height: 60px;
}
.navbar-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0px ;
    max-width: 1170px ;
    padding: 0 1.5rem;
}
#home{
    color: rgb(228, 158, 30);
}
#heading{
    font-size: 1.9rem;
    font-family:"Protest Revolution",sans-serif ;
    letter-spacing: 5px;
}
.cart-btn{
    cursor: pointer;
    position: relative;
}
.cart-items{
    position: absolute;
    top: -8px;
    right: -8px;
    background-color:var(--orange) ;
    color:var(--white) ;
    padding:0 5px ;
    border-radius: 30%;
}
/* front page */
.front-page{
    min-height: calc(100dvh - 60px);
    background: url(frontpage.jpeg) no-repeat center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner{
    background-color:rgba(255, 255, 255, 0.644);
   display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: center;
   padding: 2.5rem;
}
.banner-title{
   font-family:var(--font);
   letter-spacing: var(--spacing);
   font-size: 3rem;
   margin-bottom: 3%;
}
.banner-btn{
    background-color: var(--orange);
    border: 2px solid var(--orange);
    padding: 1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    cursor:pointer;
    /* margin-left: 20rem; */
   transition: all 0.3ms ease-in-out;
   border-radius: 0.5rem;
}
.banner-btn:hover{
    background-color: transparent;
    border: 2px solid rgb(118, 67, 0);
    color: rgb(118, 67, 0);
}

/* products */
.products{
    padding: 4rem 0;
}
.products-title h2{
font-family: var(--font);
letter-spacing: var(--spacing);
text-align: center;
margin-bottom: 5rem;
font-size: 2rem;
}
.products-center{
    width: 90dvw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(260px, 1fr));  /*gud responsive feature*/
    column-gap: 1.5rem ;
    row-gap: 2rem;
}
.img-container{
    position: relative;
    overflow: hidden;
}
.bag-btn{
    position: absolute;
    top: 70%;
    right: 0rem;
    background: var(--orange);
    border: none;
    padding: 0.5rem  0.75rem ;
    letter-spacing: var(--spacing);
    font-weight: bold;
    transform: translateX(101%);
    cursor: pointer;
}
.bag-btn:hover{
    color: var(--white);
}
.fa-shopping-cart{
    margin-right: 0.5rem;
}
.product-img{
    width: 100%;
    /* display: block ; */
    min-height: 12rem;
 }
.img-container:hover .bag-btn {
    transform: translateX(0);
}
.img-container:hover .product-img{
    opacity: 0.5;
}
.products h3{
    text-transform: capitalize;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1.2rem;
    letter-spacing: var(--spacing);
}
.products h4{
    margin-top: 1rem;
    text-align: center;
    color: var(--orange);
    letter-spacing: var(--spacing);
}

/* cart */
.cart-overlay{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    visibility: hidden;
}
.cart{
 position: fixed;
    top: 0;
    right: 0;
    width: 445px;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background-color:rgb(231, 226, 221);
    padding: 1.5rem;
    transform: translateX(100%);
}
.transparentBcg{
    visibility: visible;
}
.showCart{
    transform: translateX(0);
}
@media screen and (min-width:768px){
    .cart{
        min-height: 445px; 
        width: 30dvw;
    }
}
.cart h2{
    text-align: center;
    margin: 1rem;
    margin-bottom: 2rem;
    letter-spacing: var(--spacing);
}


.cart-item{
   /* display: flex;
   align-items: center;
   justify-content: space-between; */

   display: grid;
   align-items: center;
   grid-template-columns: auto 1fr auto;
   column-gap: 1.5rem;
   margin: 1.5rem 0;
   
}

.cart-footer{
    text-align: center;
    letter-spacing: var(--spacing);
    margin: 5rem;
    clear: both;
}

.cart-item img{
    /* width: 25%;
    height: 25%; */
    width: 75px;
    height: 75px;
}
.cart-item h4{
    letter-spacing: var(--spacing);
    font-size: 0.85rem;
}
.cart-item h5{
    margin: 0.5rem 0;
}
.remove-item{
    opacity: 0.5 ;
    font-size: 0.9rem;
    cursor : pointer;
}
.item-amount{
    text-align: center;
}
.fa-chevron-up , .fa-chevron-down{
    color: var(--orange);
    cursor: pointer;
}

.close-cart{
    cursor: pointer;
    font-size: 1.7rem;
}
.cart-footer{
    text-align: center;
    letter-spacing: var(--spacing);
    margin: 5rem;
}
.clear-cart{
    margin-top: 1rem;

}
.opacity{
    opacity:50% ;
}